// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/variables' as *;


footer{
    background-color: $dark-blue;
    div{
        padding: 20px 0;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        figure{
        margin: 0;

            img{
                filter: invert(100%) brightness(200%);
            }
        }
    };
    


    
}